body{

    background-color:blueviolet;

}

#wrapper{

    background-color: white;

    width: 1000px;

    border:1px solid grey;

    margin:0px auto;

    padding:10px;

}

#header{

    height:200px;

    border:1px solid grey;

    background-image:url("banner.jpg");

}

#nav

{

      height:60px;

      border:1px solid grey;

       margin:10px 0px;

       background-image: url("nav.png");

}

#nav ul{

}

#nav ul li{

    list-style-type: none;

    display:inline;

    

    margin-left:40px;

}

#nav ul li a{

    text-decoration: none;

    background-color:blue;

    color:white;

    padding:10px 20px;

    font-size: 20px;

    border-radius: 22px 0px;

    text-shadow: 2px 2px 2px yellow;

}

#nav ul li a:hover{

    background-color:orange;

    text-decoration: underline;

}

#body

{

     width:730px;

     border:1px solid grey;

     float:left;

     padding:10px;

     margin-bottom:10px;

}

#sidebar

{

     margin-bottom:10px;

        width:230px;

        float:right;

        height:400px;

        border:1px solid grey;

}

#footer{

      clear:both;

      height:60px;

      border:1px solid grey;

      background-image: url("nav.png");

}