body {
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 3em;
  margin-top: 0;
  background-color: #FFBF00;
  height:100%;
}
.headlogo {
	text-align: center;
	max-width: auto;
	height: 5%;
}
.header {
	position: relative;
    bottom: 59px;
	color: black;
    text-align: center;
	font-family: "Gill Sans MT", Palatino, Arial, verdana;
	font-size: 20px;
	width: 100%;
}
h2 {
	font-size: 28px;
	font-family: Arial, verdana;
	text-align: center;
	text-decoration: none;
	position: relative;
    bottom:20px;
}

h4 {
	font-size: 18px;
	font-family: Arial, verdana;
	text-align: center;
	
}

h3 {
    bottom:20px;
	font-size: 18px;
	font-family: Arial, verdana;
	text-align: center;
}

h5{
font-size: 20px;
	font-family: Arial, verdana;
	text-align: center;
		
	
	
	
}


p {
	font-family: Georgia, serif;
	font-size:16px;
	position: relative;
    bottom:20px;
	
}
.topnav {
    overflow: hidden;
    background-color: #FFFFFF;
	border-top: 4px solid black;
	
	border-bottom: 4px solid black;
	position: relative;
    bottom: 80px;
	
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family: Arial, verdana;
	font-size:18px;
	font-weight: bold;
}
.topnav a:visited {
	color: black;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #FFFF66;
    color: black;
}

a:hover {
	background-color: #FFFF66;
	color: black;
}
a:visited {
	color:red;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
	position: relative;
    bottom:20px;
}
.center1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
	text-align: center;
	position: relative;
    bottom:20px;
}
.faculty {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
	position: relative;
    bottom:20px;
}
.info {
	text-align: center;
	position: relative;
    bottom:30px;
}

.facultytitle{
	position: relative;
    bottom:20px;
}
</style>